body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header area start  */
.header_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: black;
    margin: 60px 150px;
    border-radius: 30px;
}

.header_area img {
    width: 600px;
    height: 650px;
    margin-top: 30px;
    padding-bottom: 0;
}

.header_content {
    padding: 100px;
    padding-right: 0px;
}

.header_content h1 {
    font-size: 4vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header_content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    padding-bottom: 30px;
}

.header_content a {
    text-decoration: none;
    color: #ffffff;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

/* header area end  */
/* --------------------
    blogs area start  
----------------------*/
.blogs_area {
    display: flex;
    margin-left: 0px;
    margin-right: 150px;
    margin-bottom: 140px;
    margin-top: 150px;
}

.sidebar {
    width: 350px;
    height: 250px;
    margin: 0px 150px;
    margin-right: 0px;
    background-color: #000000;
    border-radius: 10px;
    padding-top: 30px;
}


.sidebar button {
    text-decoration: none;
    background-color: #ffffff;
    display: block;
    border-radius: 10px;
    padding: 16px 25px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 70%;
    margin-left: 52px;
    margin-top: 15px;
    border: none;
}



#blog_btn {
    color: #ffffff;
    background-color: #DD0000;
}

.blogss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blogss .blog_item {
    width: 385px;
    height: 400px;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.blogss .blog_item img {
    width: 385px;
}

.blogss .blog_item .blog_content {
    padding: 15px;
}

.blogss .blog_item .blog_content h4 {
    text-align: center;
    width: 70px;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
}

.blogss .blog_item .blog_content p {
    color: gray;
    font-size: 18px;
}


/* --------------------
    blogs area end  
----------------------*/
/* --------------------
    footer area start  
----------------------*/
footer {
    background-color: #000000;
}

.goal {
    /* margin-left: 100px; */
    /* width: 70%; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: 1px solid rgb(92, 91, 91);
}

.footer_content {
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    color: rgb(177, 175, 175);
}

.footer_content p {
    font-size: 18px;
    padding: 2vw;
    padding-bottom: 100px;

}

/* --------------------
    footer area end  
----------------------*/